.mob-navbar {
    display: none;
}

@media screen and (max-width: 1200px) {
    .mob-navbar {
        position: absolute;
        top:0px;
        right:0px;
        display: block;
        margin-left: auto;
        width: 100vw;
        /* height: 100vh; */
        /* background-color: wheat; */
    }

    .mob-navbar .mob-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 70px;
        padding: 0 24px;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    .mob-navbar .menu {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .mob-navbar .layout {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .2);
        
        z-index: 1;
    }

    .mob-navbar .active-menu {
        position: absolute;
        top: 20px;
        right: -170px;
        background-color: #fff;
        width: 170px;
        padding: 0 12px;
        box-sizing: border-box;
        transition:  400ms ease-in-out;
    }
    .mob-navbar .active-menu.active {
        right: 0;
        z-index: 2;
    }
    .active-menu ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }
    .active-menu ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: aqua; */
        width: 100%;
        padding: 12px 0;
        border-bottom: 1px solid rgba(72, 72, 72, 0.07);;
    }
    .active-menu ul li.close-menu img {
        width: 24px;
        height: 24px;
        margin-left: auto;
        margin-right: 16px;
    }
    .active-menu ul li a {
        color: #3D3C3C;
        text-decoration: none;
        width: 100%;
        text-align: start;
    }
    .active-menu .language {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #3D3C3C;
        background-color: transparent;
        width: 100%;
        border: 0;
        margin: 60px auto 0 auto;
    }

    .active-menu .language img {
        width: 24px;
        height: 24px;
        margin: 0 8px;
    }

    .side {
        width: 170px; 
        height: 200px;
        position: absolute;
        top: 0;
        color:black;
        background-color: #fff;
        transition: 0.5s ease
    }
}
