.sec-our-partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 124px 0;
}

.sec-our-partners h2 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 44.9443px;
    line-height: 54px;
    /* identical to box height */

    text-align: center;

    color: #3D3C3C;
}

.sec-our-partners .mob {
    display: none;
}

.sec-our-partners .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

@media screen and (min-width:1201px) {
    .sec-our-partners .row img {
        min-width: 100px;
        max-width: 150px;
    }
}

@media screen and (max-width:1200px) {
    .sec-our-partners {
        padding: 24px 0;
    }
    .sec-our-partners h2 {
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
    }
    .sec-our-partners .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        max-width: 330px;
    }
    .sec-our-partners .desk {
        display: none;
    }
    .sec-our-partners .mob {
        display: block;
    }
    /* .sec-our-partners .mob.mg-r {
        margin-right: -16px;
    }
    .sec-our-partners .mob.mg-l {
        margin-left: -16px;
    } */
}